<div
    class="container-custom section-spacing mt-2 featured-parks-section"
    data-scroll
    data-scroll-speed="1"
>
    <div class="popular-parks-container">
        <div class="popular-parks-scroll" id="popularParks">
            <% if (campgrounds && campgrounds.docs && campgrounds.docs.length >
            0) { %> <% const popularParks = campgrounds.docs.sort(() => 0.5 -
            Math.random()).slice(0, 2); %> <% for (let park of popularParks) {
            %>
            <div
                class="popular-park-card"
                style="opacity: 1; transform: translateY(0)"
            >
                <div class="lazy-image-container parallax-container">
                    <div class="lazy-image-placeholder" style="
                    background-image: url('<%= park.images && park.images.length
                    ? park.images[0].url :
                    "https://res.cloudinary.com/drvf1bwps/image/upload/v1728254216/Terrainly/Parks/lasma-artmane-IhgzWe99qcE-unsplash_xhirnx.webp"
                    %>'); " >
                </div>
                <img
                    src="data:image/webp;base64,UklGRiIAAABXRUJQVlA4IBYAAAAwAQCdASoBAAEADsD+JaQAA3AAAAAA"
                    data-src="<%= park.images && park.images.length ? park.images[0].url : 'https://res.cloudinary.com/drvf1bwps/image/upload/v1728254216/Terrainly/Parks/lasma-artmane-IhgzWe99qcE-unsplash_xhirnx.webp' %>"
                    alt="<%= park.title %>"
                    class="lazy-image loading"
                    crossorigin="anonymous"
                />
            </div>
            <div class="popular-park-info">
                <h3><%= park.title %></h3>
                <p><%= park.location %></p>
                <a href="/campgrounds/<%= park._id %>" class="btn btn-primary"
                    >View Details</a
                >
            </div>
        </div>
        <% } %> <% } else { %>
        <p>No parks available at the moment.</p>
        <% } %>
    </div>
</div>
