<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="../public/images/favicon.ico"
            type="image/x-icon"
            sizes="16x16"
        />
        <title>Terrainly</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/stylesheets/app.css" />
        <link rel="stylesheet" href="/stylesheets/hero-animation.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css"
        />
    </head>

    <body class="d-flex flex-column text-center text-white">
        <% layout('layouts/boilerplate')%>

        <div data-scroll-container>
            <section data-scroll-section>
                <div
                    id="hero-section"
                    class="animate-hero"
                    style="visibility: hidden"
                >
                    <video id="bg-video" autoplay loop muted>
                        <source
                            src="https://res.cloudinary.com/drvf1bwps/video/upload/v1728465518/YelpCamp/Video/4060265-hd_2048_1080_24fps_h07wsq.webm"
                            type="video/webm"
                        />
                        Your browser does not support the video tag.
                    </video>
                    <div class="bottom-left-content animate-content">
                        <h1>Discover Nature's Best Parks.</h1>
                    </div>
                </div>
            </section>

            <section data-scroll-section>
                <%- include('./partials/_hero') %>
            </section>

            <section data-scroll-section>
                <%- include('./partials/_map') %>
            </section>

            <section data-scroll-section>
                <%- include('./partials/_featured_parks') %>
            </section>

            <section data-scroll-section>
                <%- include('./partials/_add_park_steps') %>
            </section>

            <section data-scroll-section>
                <%- include('./partials/_all_parks') %>
            </section>

            <section data-scroll-section>
                <%- include('./partials/_add_park_cta') %>
            </section>

            <section data-scroll-section>
                <%- include('./partials/footer') %>
            </section>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"
        ></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const video = document.getElementById("bg-video");
                const heroSection = document.getElementById("hero-section");

                if (video) {
                    video.addEventListener("loadedmetadata", function () {
                        heroSection.style.visibility = "visible";
                    });

                    video.addEventListener("timeupdate", function () {
                        const buffer = 0.44; // Adjust this value if needed
                        if (this.currentTime > this.duration - buffer) {
                            this.style.opacity = 0;
                        } else {
                            this.style.opacity = 1;
                        }
                    });

                    video.addEventListener("ended", function () {
                        this.currentTime = 0;
                        this.play();
                    });
                }
            });
        </script>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
            const mapCampgrounds = <%- JSON.stringify(mapCampgrounds) %>;
        </script>

        <script src="/javascripts/lazyLoading.js"></script>
        <script src="/javascripts/popularParksSlider.js"></script>
        <script src="/javascripts/clusterMap.js"></script>
    </body>
</html>
